@model HGP.Web.Models.List.ListHomeModel
<table id="product-grid" class="table table-striped pull-left" style="width: 100%;">
    <thead>
        <tr>
            <th></th>
            <th>Description</th>
            <th>@*Book Value*@ </th>
        </tr>
    </thead>
    <tbody data-bind="template: { name: 'listbody-tmpl', foreach: myViewModel.model.Assets }"></tbody>
    <tfoot id="list-footer">
        <tr>
            <td colspan="3">
                <div id="loading-div">Loading...</div>
            </td>
        </tr>
    </tfoot>
</table>

<script id="listbody-tmpl" type="text/html">
    <tr class="ui-corner-all">
        <td class="image-container">
            <div data-bind="template: { name: 'media-tmpl', if: Media().length > 0 }"></div>
        </td>
        <td>
            <a data-bind="attr: { href: '/' + myViewModel.model.SiteSettings.PortalTag() + '/asset/indexpartial/' + $data.HitNumber() }"
               data-toggle="modal" data-target="#myAssetModal" class="modalLink"><span data-bind="text: Title"></span></a>
            <div class="manu-line">
                <span class="product-list-detail">
                    <span data-bind="text: Manufacturer"></span> <span data-bind="text: ModelNumber"></span>
                    <br /><span data-bind="text: Location"></span>
                    <br />Hit #<span data-bind="text: HitNumber"></span>

                    <span data-bind="if: ClientIdNumber() != '' ">
                        <span data-bind="template: { name: 'clientid-tmpl', data: ClientIdNumber }"></span>
                    </span>
                    
                    <div data-bind="if: DisplayBookValue() == true">
                        <br />Book Value : <span class="price" data-bind="money: BookValue"></span>
                    </div>

                    <div data-bind="if: DisplayBookValue() == false">
                        <br />Book Value : <span class="text" data-bind="text: myViewModel.model.SiteSettings.BookValueMessage"></span>
                    </div>
                    
                    <div data-bind="if: MinutesRemaining() > 0">
                        <br />Time remaining: <span type="text" data-bind="timeRemaining: MinutesRemaining"></span>
                    </div>
                    <div data-bind="if: MinutesRemaining() <= 0">
                        <br /><span style="font-weight: bold;">ASSET NO LONGER AVAILABLE</span>
                    </div>
                </span>
            </div>
        </td>
        <td />
    </tr>
</script>

<script id="media-tmpl" type="text/html">
    <div data-bind="with: $data">
        <span data-bind="text: $data.Media().Count"></span>
        <img data-bind="attr: { src: 'https://s3-us-west-1.amazonaws.com/hgpmedia/' + myViewModel.model.SiteSettings.PortalTag() + '/l/' + $data.Media()[0].FileName() }" alt="" />
    </div>
</script>

<script id="clientid-tmpl" type="text/html">
    <span data-bind="if: $data ">
        / Client Id #
        <span data-bind="text: $data">
        </span>
    </span>
</script>