@model HGP.Web.Models.Assets.AssetIndexModel
@{
    ViewBag.Title = "Asset";
    ViewBag.MainClass = "content_left_sidebar";
    Layout = "~/Views/Shared/_PortalLayout.cshtml";
}

<style>
.modal-header {
    visibility:hidden;
}

</style>
<!-- widget grid -->
<section id="widget-grid" class="">
    <div class="row">
        <article class="">
            @{ Html.RenderPartial("Index_Detail", Model); }
        </article>
    </div>
</section>
<!-- end widget grid -->

<!-- /.modal -->
@section Scripts {


}
