@{
    ViewBag.Title = "Check your Email";
    Layout = "~/Views/Shared/_PortalLayout.cshtml";
}

<h2>@ViewBag.Title</h2>
<div>
    <p>
        Thank you for creating your account. A confirmation email has been sent to you. Please follow the instructions in the 
        email to complete your registration.
    </p>
</div>
