@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = "~/Views/Shared/_PortalGuestLayout.cshtml";
}

<div class="main-area margin-left-10">
    <hgroup class="title">
        <h1>Reset code sent</h1>
    </hgroup>
    <div>
        <p>
            Please check your email for instructions on how to reset your password.
        </p>
        <p>
            <a href="@Url.RouteUrl("GuestRoute", new { action = "GuestLogin", controller = "account" })">Back to sign in page</a>
        </p>
    </div>
</div>