@{
    ViewBag.Title = "Reset password confirmation";
    Layout = "~/Views/Shared/_PortalLayout.cshtml";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>

        Your password has been reset. Please @Html.RouteLink("click here to sign in", "PortalRoute", new { controller = "Account", action = "Login" }, new { id = "loginLink" })
    </p>
</div>
