@using System.Globalization
<footer role="contentinfo" id="footer">
    <div class="footer-overlay">
        <div class="footer-content">
            <div class="one_half tt-column">
                <h3>Want to sell an asset?</h3>
                <div class="textwidget">
                    <p>
                        <strong class="txt-color-white">Simply call 1-858-847-0655</strong>
                    </p>
                    <p>
                        You may also <a href="mailto:caresupport@hgpauction.com">click here</a> to send us an email
                    </p>
                    <p>
                        We will be glad to listen to your specific needs and from that HGP can prepare a detailed solution for your review that will maximize the returns on your assets for the company and its Shareholders.
                    </p>
                </div>
            </div>
            <div class="one_half_last tt-column">
                <h3>Contact us</h3>
                <div class="textwidget">
                    <ul class="tt-business-contact pull-left">
                        <li><strong>Global Sales Headquarters</strong></li>
                        <li>Hacienda Del Mar</li>
                        <li>12625 High Bluff Drive</li>
                        <li>San Diego, CA 92130</li>
                        <li><strong>Phone:</strong><a href="#">+1 (858) 847-0655</a></li>
                        <li><strong>Fax:</strong><a href="#">+1 (866) 388-8595</a></li>
                    </ul>
                    <ul class="tt-business-contact pull-right">
                        <li><strong>Global Operations Headquarters</strong></li>
                        <li>1576 Rollins Road</li>
                        <li>Burlingame, CA 94010</li>
                        <li><strong>Phone:</strong><a href="#">+1 (650) 646-2505</a></li>
                        <li><strong>Fax:</strong><a href="#">+1 (866) 388-8595</a></li>
                    </ul>
                </div>
            </div>
        </div><!-- END footer-content -->
    </div>
    <div id="footer_bottom">
        <div class="info" style="text-align: center; vertical-align: middle;">
            <div id="foot_left" style="width: auto;">
                <a style="color:black" href="https://www.hgpauction.com">&copy; @DateTime.Now.Year.ToString(CultureInfo.InvariantCulture) Heritage Global Partners Inc.</a>
            </div>
            <a  href="https://www.hgpauction.com"><span id="logo"> <img src="~/content/img/hgplogo.png" alt="CARE" height="71"> </span></a>

            <div id="foot_right" style="width: auto;">
                <div class="top-footer">
                    <a  style="color:black" href="#" class="link-top">top</a>
                </div>
                <ul>
                    <li><a  style="color:black" href="/">Home</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
