@model HGP.Web.Models.Report.ExpiredAssetsReportDataModel
@{
    ViewBag.Title = "Expired Assets";
    ViewBag.MainClass = "content_full_width";
    Layout = "~/Views/Shared/_PortalLayout.cshtml";
}

<!-- widget grid -->
<section id="widget-grid" class="">
    <!-- row -->
    <div class="row">
        <!-- NEW WIDGET START -->
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <table id="jqgrid"></table>
            <div id="pjqgrid"></div>
        </article>
        <!-- WIDGET END -->
    </div>
</section>

@section Scripts {
    <script type="text/javascript">
        var excelUrl = '@Url.RouteUrl("PortalRoute", new {action = "ExpiredAssetsDataExcel", controller = "Report"})';

        $("#jqgrid").jqGrid({
            url: '@Url.RouteUrl("PortalRoute", new { action = "ExpiredAssetsData", controller = "Report" })',
            datatype: "json",
            jsonReader: { root: "Assets" },
            loadonce: true,
            height: 'auto',
            colNames: ['Hit Number', 'Client Id Number', 'Status', 'Title', 'Is Visible', 'Manufacturer', 'Quantity', 'Book Value', 'Location', 'Category', 'Avail For Redeploy', 'Expiration'],
            colModel: [
                {
                    name: 'HitNumber',
                    index: 'HitNumber',
                    sortable: true,
                    width: '100px'
                },
                {
                    name: 'ClientIdNumber',
                    index: 'ClientIdNumber',
                    sortable: true,
                    width: '100px'
                },
                {
                    name: 'Status',
                    index: 'Status',
                    sortable: true,
                    width: '80px'
                },
                {
                    name: 'Title',
                    index: 'Title',
                    sortable: true,
                    width: '200px'
                },
                {
                    name: 'IsVisible',
                    index: 'IsVisible',
                    sortable: true,
                    width: '80px'
                },
                {
                    name: 'Manufacturer',
                    index: 'Manufacturer',
                    sortable: true,
                },
                {
                    name: 'Quantity',
                    index: 'Quantity',
                    sortable: true,
                    width: '80px'
                },
                {
                    name: 'BookValue',
                    index: 'BookValue',
                    formatter: 'currency',
                    formatoptions: { decimalPlaces: 0, prefix: "$ " },
                    sortable: true,
                    width: '90px'
                },
                {
                    name: 'Location',
                    index: 'Location',
                    sortable: true,
                },
                {
                    name: 'Category',
                    index: 'Category',
                    sortable: true,
                },
                {
                    name: 'AvailForRedeploy',
                    index: 'AvailForRedeploy',
                    formatter: 'date',
                    formatoptions: { srcformat: "ISO8601Long", newformat: "m/d/Y h:i A" },
                    sortable: true,
                },
                {
                    name: 'AvailForSale',
                    index: 'AvailForSale',
                    formatter: 'date',
                    formatoptions: { srcformat: "ISO8601Long", newformat: "m/d/Y h:i A" },
                    sortable: true,
                }
            ],
            rowNum: 25,
            rowList: [25, 50, 100],
            pager: '#pjqgrid',
            sortname: 'id',
            toolbarfilter: true,
            viewrecords: true,
            sortorder: "asc",
            gridComplete: function () {

            },
            editurl: "dummy.html",
            caption: "All Assets Report",
            multiselect: true,
            autowidth: true,
        });

        $("#jqgrid").jqGrid('navGrid', "#pjqgrid", {
            edit: false,
            add: false,
            del: false
        });

        $("#jqgrid").jqGrid('inlineNav', "#pjqgrid");

        $("#jqgrid").jqGrid('navButtonAdd', '#pjqgrid', {
            caption: "Excel",
            buttonicon: "ui-icon-document",
            onClickButton: function () {
                jQuery("#jqgrid").jqGrid('excelExport', { "url": excelUrl });
            }
        });

        /* Add tooltips */
        $('.navtable .ui-pg-button').tooltip({
            container: 'body'
        });

        $("#m1").click(function () {
            var s;
            s = jQuery("#jqgrid").jqGrid('getGridParam', 'selarrrow');
            alert(s);
        });

        $("#m1s").click(function () {
            jQuery("#jqgrid").jqGrid('setSelection', "13");
        });

        // remove classes
        $(".ui-jqgrid").removeClass("ui-widget ui-widget-content");
        $(".ui-jqgrid-view").children().removeClass("ui-widget-header ui-state-default");
        $(".ui-jqgrid-labels, .ui-search-toolbar").children().removeClass("ui-state-default ui-th-column ui-th-ltr");
        $(".ui-jqgrid-pager").removeClass("ui-state-default");
        $(".ui-jqgrid").removeClass("ui-widget-content");

        // add classes
        $(".ui-jqgrid-htable").addClass("table table-bordered table-hover");
        $(".ui-jqgrid-btable").addClass("table table-bordered table-striped");

        $(".ui-pg-div").removeClass().addClass("btn btn-sm btn-primary");
        $(".ui-icon.ui-icon-plus").removeClass().addClass("fa fa-plus");
        $(".ui-icon.ui-icon-pencil").removeClass().addClass("fa fa-pencil");
        $(".ui-icon.ui-icon-trash").removeClass().addClass("fa fa-trash-o");
        $(".ui-icon.ui-icon-search").removeClass().addClass("fa fa-search");
        $(".ui-icon.ui-icon-refresh").removeClass().addClass("fa fa-refresh");
        $(".ui-icon.ui-icon-disk").removeClass().addClass("fa fa-save").parent(".btn-primary").removeClass("btn-primary").addClass("btn-success");
        $(".ui-icon.ui-icon-cancel").removeClass().addClass("fa fa-times").parent(".btn-primary").removeClass("btn-primary").addClass("btn-danger");
        $(".ui-icon.ui-icon-document").removeClass().addClass("fa fa-file-excel-o");
        $(".ui-icon.ui-icon-seek-prev").wrap("<div class='btn btn-sm btn-default'></div>");
        $(".ui-icon.ui-icon-seek-prev").removeClass().addClass("fa fa-backward");
        $(".ui-icon.ui-icon-seek-first").wrap("<div class='btn btn-sm btn-default'></div>");
        $(".ui-icon.ui-icon-seek-first").removeClass().addClass("fa fa-fast-backward");
        $(".ui-icon.ui-icon-seek-next").wrap("<div class='btn btn-sm btn-default'></div>");
        $(".ui-icon.ui-icon-seek-next").removeClass().addClass("fa fa-forward");
        $(".ui-icon.ui-icon-seek-end").wrap("<div class='btn btn-sm btn-default'></div>");
        $(".ui-icon.ui-icon-seek-end").removeClass().addClass("fa fa-fast-forward");

        $(window).on('resize.jqGrid', function () {
            $("#jqgrid").jqGrid('setGridWidth', $("#content").width());
        });

        $("#refresh_jqgrid").hide();
        $("#jqgrid_iladd").hide();
        $("#jqgrid_iledit").hide();
        $("#jqgrid_ilsave").hide();
        $("#jqgrid_ilcancel").hide();

    </script>
}