.top-five {
    background: none repeat scroll 0 0 #efefef;
    border: 1px solid #D8D9D6;
    border-radius: 5px;
    padding: 4px 10px 10px;
    min-height: 130px;
}

    .top-five .heading-horizontal {
        margin-top: 0;
    }

        .top-five .heading-horizontal span {
            padding: 0 10px;
            background: none repeat scroll 0 0 #efefef;
        }

    .top-five ol {
        margin: 3px 0 0 20px !important;
    }

        .top-five ol li {
            margin-bottom: 4px;
        }

header h2 {
    float: left;
    margin-left: 10px;
}

h2.slider-post-title {
    float: none;
    margin-left: 0;
}

thead tr, .table thead tr {
    background-color: #eee;
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#d6d2f1),to(#fafafa));
    background-image: -webkit-linear-gradient(top,#d6d2f1 0,#fafafa 100%);
    background-image: -moz-linear-gradient(top,#d6d2f1 0,#fafafa 100%);
    background-image: -ms-linear-gradient(top,#d6d2f1 0,#fafafa 100%);
    background-image: -o-linear-gradient(top,#d6d2f1 0,#fafafa 100%);
    background-image: -linear-gradient(top,#d6d2f1 0,#fafafa 100%);
    font-size: 12px;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 8px 10px;
}

.product-list-detail {
    color: #353535;
    font-size: 12px;
}

.widget-body {
    float: left;
    width: 100%;
    position: relative;
    font-size: 13px;
    border-radius: 0;
    margin: 0;
    border-width: medium 1px 2px;
    border-style: none solid solid;
    border-top: medium none;
    border-right-color: #CCC !important;
    border-bottom-color: #CCC !important;
    border-left-color: #CCC !important;
    padding: 13px 13px 0;
    overflow: visible;
}

.no-padding {
    padding: 0 !important;
}

    .no-padding .table-responsive .table {
        margin-bottom: 0;
    }

#list-footer {
    font-size: 70%;
    font-weight: bold;
    color: #aaa;
}

.margin-left-10 {
    margin-left: 10px !important;
}

.margin-left-15 {
    margin-left: 15px !important;
}

.margin-right-5 {
    margin-right: 5px !important;
}

.padding-right-5 {
    padding-right: 5px !important;
}

.padding-bottom-5 {
    padding-bottom: 5px !important;
}

.padding-bottom-10 {
    padding-bottom: 10px !important;
}

.padding-10 {
    padding: 10px !important;
}

.no-padding-left {
    padding-left: 0 !important;
}

ul.list-unstyled {
    list-style: outside none none !important;
    padding-left: 0 !important;
    margin: 0 !important;
}

    ul.list-unstyled li {
        margin: 0 !important;
    }

p.text-muted {
    margin: 0;
}

#assets-grid span {
    font-size: 13px;
}

table.dataTable {
    clear: both;
    margin-top: 6px !important;
    margin-bottom: 6px !important;
    max-width: none !important;
}

.dt-toolbar {
    display: block;
    position: relative;
    padding: 6px 7px 6px;
    width: 100%;
    float: left;
    border-bottom: 1px solid #CCC;
    border-top: 1px solid #CCC;
    background: none repeat scroll 0 0#FAFAFA;
}

    .dt-toolbar > :last-child .DTTT, .dt-toolbar > :last-child .dataTables_filter > :only-child, .dt-toolbar > :last-child .dataTables_length, .dt-toolbar > :last-child .pagination {
        float: right;
    }

.dataTables_filter .input-group-addon {
    width: 32px;
    margin-top: 0;
    float: left;
    height: 32px;
    padding-top: 8px;
}

.no-padding > table, .no-padding .dataTables_wrapper table {
    border-style: none !important;
    border-color: -moz-use-text-color !important;
    -moz-border-top-colors: none !important;
    -moz-border-right-colors: none !important;
    -moz-border-bottom-colors: none !important;
    -moz-border-left-colors: none !important;
    -moz-border-image: none !important;
    -o-border-image: none !important;
    -webkit-border-image: none !important;
    -ms-border-image: none !important;
    border-image: none !important;
    margin-bottom: 0 !important;
    border-width: medium medium 0 !important;
}

table.table-bordered.dataTable {
    border-collapse: separate !important;
}

.dt-toolbar-footer {
    background: none repeat scroll 0 0#FAFAFA;
    font-size: 11px;
    overflow: hidden;
    padding: 5px 10px;
    border-top: 1px solid #CCC;
    -webkit-box-shadow: 0 1px #FFF inset;
    box-shadow: 0 1px #FFF inset;
}

    .dt-toolbar-footer > :last-child .DTTT, .dt-toolbar-footer > :last-child .dataTables_filter > :only-child, .dt-toolbar-footer > :last-child .dataTables_length, .dt-toolbar-footer > :last-child .pagination {
        float: right;
    }

div.dataTables_info {
    padding-top: 9px;
    font-size: 13px;
    font-weight: 700;
    font-style: italic;
    color: #969696;
}

div.dataTables_paginate {
    float: right;
    margin: 0;
}

    div.dataTables_paginate ul.pagination {
        margin: 2px 0 !important;
        white-space: nowrap;
    }

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 18px 0;
    border-radius: 2px;
}

.no-border, .well.no-border[class*=" bg-"] {
    border-width: 0 !important;
}

.well[class^="bg-"], .well[class*=" bg-"] {
    border: 1px solid #555 !important;
}

.widget-body .well {
    margin-bottom: 0;
}

[class^="bg-"], [class*=" bg-"] {
    -webkit-filter: none !important;
    -moz-filter: none !important;
    -o-filter: none !important;
    filter: none !important;
}

.font-400 {
    font-size: 300% !important;
}

h1 {
    font-size: 24px;
    letter-spacing: -1px;
    margin: 10px 0;
}

h1, h2, h3, h4 {
    margin: 0;
    font-family: "Open Sans",Arial,Helvetica,sans-serif;
    font-weight: 300;
}

h5 {
    font-size: 17px;
    font-weight: 300;
    margin: 10px 0;
    line-height: normal;
}

.padding-right-10 {
    padding-right: 10px !important;
}


.padding-right-15 {
    padding-right: 15px !important;
}


.padding-right-20 {
    padding-right: 20px !important;
}

.pull-right {
    float: right !important;
}

.jarviswidget {
    margin: 0 0 30px;
    position: relative;
    border-radius: 0;
    padding: 0;
}

.well {
    background-color: #FBFBFB;
    border: 1px solid #DDD;
    -webkit-box-shadow: 0 1px 1px #ECECEC;
    box-shadow: 0 1px 1px #ECECEC;
    position: relative;
}

.jarviswidget.well {
    margin: 0 0 30px;
}

.jarviswidget > header {
    height: 34px;
    padding: 0;
    line-height: 40px;
}

.jarviswidget.well header {
    display: none;
}

.jarviswidget > div {
    float: left;
    background-color: #FFF !important;
    width: 100%;
    position: relative;
    font-size: 13px;
    border-radius: 0;
    margin: 0;
    border-width: medium 1px 2px;
    border-style: none solid solid;
    border-top: medium none;
    border-right-color: #CCC !important;
    border-bottom-color: #CCC !important;
    border-left-color: #CCC !important;
    overflow: visible;
}

.jarviswidget.well > div {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: medium none !important;
}

#pending-requests p {
    margin: 0;
}

.fa-2b {
    font-size: 1.3em !important;
    color: #353535;
}

.fa-2c {
    font-size: 1.8em !important;
    color: #353535;
}

b {
    background-color: rgb(53,53,53) !important;
    background-color: rgba(53,53,53, 0.9) !important;
}

a.header:focus, a.header:hover, .fa-2b:hover, .fa-2c:hover {
    text-decoration: none;
    color: #353535 !important;
}

.txt-color-blue {
    color: #57889c !important;
}

.txt-color-blueLight {
    color: #92a2a8 !important;
}

.txt-color-blueDark {
    color: #4c4f53 !important;
}

.txt-color-green {
    color: #356e35 !important;
}

.txt-color-greenLight {
    color: #71843f !important;
}

.txt-color-greenDark {
    color: #496949 !important;
}

.txt-color-red {
    color: #a90329 !important;
}

.txt-color-yellow {
    color: #b09b5b !important;
}

.txt-color-orange {
    color: #b19a6b !important;
}

.txt-color-orangeDark {
    color: #a57225 !important;
}

.txt-color-pink {
    color: #ac5287 !important;
}

.txt-color-pinkDark {
    color: #a8829f !important;
}

.txt-color-purple {
    color: #6e587a !important;
}

.txt-color-darken {
    color: #404040 !important;
}

.txt-color-lighten {
    color: #d5e7ec !important;
}

.txt-color-white {
    color: #ffffff !important;
}

.txt-color-grayDark {
    color: #525252 !important;
}

.txt-color-magenta {
    color: #6e3671 !important;
}

.txt-color-teal {
    color: #568a89 !important;
}

.txt-color-redLight {
    color: #a65858 !important;
}
/*
	 * BACKGROUNDS
	 */
.bg-color-blue {
    background-color: #57889c !important;
}

.bg-color-blueLight {
    background-color: #92a2a8 !important;
}

.bg-color-blueDark {
    background-color: #4c4f53 !important;
}

.bg-color-green {
    background-color: #356e35 !important;
}

.bg-color-greenLight {
    background-color: #71843f !important;
}

.bg-color-greenDark {
    background-color: #496949 !important;
}

.bg-color-red {
    background-color: #a90329 !important;
}

.bg-color-yellow {
    background-color: #b09b5b !important;
}

.bg-color-orange {
    background-color: #c79121 !important;
}

.bg-color-orangeDark {
    background-color: #a57225 !important;
}

.bg-color-pink {
    background-color: #ac5287 !important;
}

.bg-color-pinkDark {
    background-color: #a8829f !important;
}

.bg-color-purple {
    background-color: #6e587a !important;
}

.bg-color-darken {
    background-color: #404040 !important;
}

.bg-color-lighten {
    background-color: #d5e7ec !important;
}

.bg-color-white {
    background-color: #ffffff !important;
}

.bg-color-grayDark {
    background-color: #525252 !important;
}

.bg-color-magenta {
    background-color: #6e3671 !important;
}

.bg-color-teal {
    background-color: #568a89 !important;
}

.bg-color-redLight {
    background-color: #a65858 !important;
}

#menu-main-nav a {
    margin-right: 20px;
}

#menu-main-nav li.parent > a b {
    position: absolute;
    top: 5px;
    right: 4px;
}

#menu-main-nav li.active {
    background: none repeat scroll 0 0 #101e35;
    background: none repeat scroll 0 0 rgba(16, 30, 53, 0.2);
    border-radius: 5px;
}

strong.approved {
    color: green !important;
}

strong.denied {
    color: red !important;
}

strong.pending {
    color: orange !important;
}

strong.open {
    color: blue !important;
}

.field-validation-error {
    display: none;
}

div.horizontal {
    display: flex;
    justify-content: center;
}

div.vertical {
    display: -webkit-box; /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
    display: -moz-box; /* OLD: Firefox (buggy) */
    display: -ms-flexbox; /* MID: IE 10 */
    display: -webkit-flex; /* NEW, Chrome 21–28, Safari 6.1+ */
    display: flex; /* NEW: IE11, Chrome 29+, Opera 12.1+, Firefox 22+ */
    -webkit-box-align: center;
    -moz-box-align: center; /* OLD… */
    -ms-flex-align: center; /* You know the drill now… */
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    margin: 0;
    height: 100%;
    width: 100%; /* needed for Firefox */
}

.login-box {
    height: 288px;
    width: auto;
    background-color: white;
}

.login-logo {
    width: 100%;
}

.smart-form .input .icon-prepend + input, .smart-form .textarea .icon-prepend + textarea {
    padding-left: 37px !important;
}

.smart-form .validation-summary-errors {
    margin: 30px 10px 10px 4px !important;
    background-color: #e7bfbf;
    border: 1px solid darkred;
    border-radius: 3px;
}

    .smart-form .validation-summary-errors ul {
        padding: 10px;
    }

    .smart-form .validation-summary-errors li {
        margin-left: 16px !important;
        list-style: none !important;
        color: darkred;
    }

        .smart-form .validation-summary-errors li:before {
            content: "\f071";
            font-family: FontAwesome;
            position: absolute;
            left: 18px;
        }

.page-title {
    margin-top: 22px !important;
}

.widget-footer {
    display: block;
    min-height: 32px;
    vertical-align: middle;
    position: relative;
    background-color: #F8F7F7;
    padding: 5px;
    border-top: 1px solid #E4E4E4;
    text-align: right;
    margin: 0 -13px -13px;
}

.smart-form {
    margin: 0;
    outline: medium none;
    color: #666;
    position: relative;
}

    .smart-form .col-8 {
        width: 66.67%;
    }

    .smart-form .col {
        float: left;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .smart-form section {
        margin-bottom: 15px;
        position: relative;
    }

    .smart-form fieldset {
        border: medium none;
        background: none repeat scroll 0 0 #ffffff;
        background: none repeat scroll 0 0 rgba(255, 255, 255, 0.9);
        position: relative;
        display: block;
        padding: 25px 14px 5px;
    }

    .smart-form .input, .smart-form .select, .smart-form .textarea, .smart-form .radio, .smart-form .checkbox, .smart-form .toggle, .smart-form .button {
        position: relative;
        display: block;
        font-weight: 400;
    }

    .smart-form .row {
        margin: 0 -15px;
    }

    .smart-form .input input, .smart-form .select select, .smart-form .textarea textarea, .smart-form .radio i, .smart-form .checkbox i, .smart-form .toggle i, .smart-form .icon-append, .smart-form .icon-prepend {
        border-color: #BDBDBD;
        -moz-transition: border-color 0.3s ease 0;
        -o-transition: border-color 0.3s ease 0;
        -webkit-transition: border-color 0.3s ease 0;
        -ms-transition: border-color 0.3s ease 0;
        transition: border-color 0.3s ease 0;
    }

    .smart-form .input input, .smart-form .select select, .smart-form .textarea textarea {
        display: block;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        height: 32px;
        padding: 5px 10px;
        outline: medium none;
        border-width: 1px;
        border-style: solid;
        border-radius: 0;
        background: none repeat scroll 0 0#FFF;
        font: 13px/16px "Open Sans",Helvetica,Arial,sans-serif;
        color: #404040;
        -moz-appearance: none;
    }

    .smart-form footer .btn {
        float: right;
        height: 31px;
        margin: 10px 0 0 5px;
        padding: 0 22px;
        font: 300 15px/29px "Open Sans",Helvetica,Arial,sans-serif;
        cursor: pointer;
    }

    .smart-form .btn {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .smart-form footer {
        display: block;
        padding: 7px 14px 15px;
        border-top: 1px solid #000000;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        background: none repeat scroll 0 0 #f8f8f8;
        background: none repeat scroll 0 0 rgba(248, 248, 248, 0.9);
    }

    .smart-form *, .smart-form *:after, .smart-form *:before {
        margin: 0;
        padding: 0;
        -moz-box-sizing: content-box;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
    }

    .smart-form footer:after {
        content: "";
        display: table;
        clear: both;
    }

.btn {
    border-radius: 2px;
    -webkit-box-shadow: 0 -2px 0 #000000 inset;
    -webkit-box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.05) inset;
    box-shadow: 0 -2px 0 #000000 inset;
    box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.05) inset;
}

.btn-sm {
    padding: 6px 10px 5px;
}

/* jQgrid */
.ui-helper-clearfix {
    min-height: 0;
    display: block;
}

.ui-jqgrid {
    position: relative;
    border: 1px solid #CCC !important;
    margin: 0;
    overflow: hidden;
    font-size: 12px;
}

    .ui-jqgrid .ui-jqgrid-view {
        position: relative;
        left: 0;
        top: 0;
        padding: 0;
        font-size: 11px;
    }

    .ui-jqgrid .ui-jqgrid-titlebar {
        padding: 12px 13px;
        position: relative;
        font-size: 12px;
        border-left: 0 none;
        border-right: 0 none;
        border-top: 0 none;
        background-color: #f3f3f3;
        background-image: -moz-linear-gradient(top,#f3f3f3,#e2e2e2);
        background-image: -webkit-gradient(linear,0 0,0 100%,from(#f3f3f3),to(#e2e2e2));
        background-image: -webkit-linear-gradient(top,#f3f3f3,#e2e2e2);
        background-image: -o-linear-gradient(top,#f3f3f3,#e2e2e2);
        background-image: linear-gradient(to bottom,#f3f3f3,#e2e2e2);
        background-repeat: repeat-x;
    }

    .ui-jqgrid .ui-jqgrid-caption {
        text-align: left;
    }

    .ui-jqgrid .ui-jqgrid-title {
        font-size: 15px;
        color: #333;
    }

    .ui-jqgrid .ui-jqgrid-titlebar-close {
        position: absolute;
        top: 50%;
        width: 19px;
        margin: -10px 0 0 0;
        padding: 1px;
        right: 10px !important;
        cursor: pointer;
    }

        .ui-jqgrid .ui-jqgrid-titlebar-close span {
            display: block;
            margin: 1px;
        }

        .ui-jqgrid .ui-jqgrid-titlebar-close:hover {
            padding: 0;
        }

    .ui-jqgrid .ui-jqgrid-hdiv {
        position: relative;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        border-left: 0 none !important;
        border-top: 0 none !important;
        border-right: 0 none !important;
    }

    .ui-jqgrid .ui-jqgrid-hbox {
        float: left;
        padding-right: 20px;
    }

    .ui-jqgrid .ui-jqgrid-htable {
        table-layout: fixed;
        margin: 0;
    }

        .ui-jqgrid .ui-jqgrid-htable th {
            padding: 0 2px;
        }

            .ui-jqgrid .ui-jqgrid-htable th div {
                padding: 5px 0 5px 2px;
                font-weight: 700;
                background: none repeat scroll 0 0 transparent;
                overflow: hidden;
                position: relative;
            }

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    color: #333;
    background-color: #FFF;
    font-weight: normal;
    border: 1px solid #CCC;
}

tr.ui-jqgrid-labels {
    background-color: #eee;
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#f2f2f2),to(#fafafa));
    background-image: -webkit-linear-gradient(top,#f2f2f2 0,#fafafa 100%);
    background-image: -moz-linear-gradient(top,#f2f2f2 0,#fafafa 100%);
    background-image: -ms-linear-gradient(top,#f2f2f2 0,#fafafa 100%);
    background-image: -o-linear-gradient(top,#f2f2f2 0,#fafafa 100%);
    background-image: -linear-gradient(top,#f2f2f2 0,#fafafa 100%);
    font-size: 12px;
}

.ui-first-th-ltr {
    border-right: 1px solid;
}

.ui-first-th-rtl {
    border-left: 1px solid;
}

.ui-jqgrid .ui-th-div-ie {
    white-space: nowrap;
    -ms-zoom: 1;
    zoom: 1;
}

.ui-jqgrid .ui-jqgrid-resize {
    height: 20px !important;
    position: relative;
    cursor: e-resize;
    display: inline;
    overflow: hidden;
}

.ui-jqgrid .ui-grid-ico-sort {
    overflow: hidden;
    position: absolute;
    display: inline;
    cursor: pointer !important;
    right: 0;
}

.ui-jqgrid .ui-icon-asc {
    margin-top: -4px;
    right: -1px;
}

.ui-jqgrid .ui-icon-desc {
    margin-top: 3px;
    height: 12px;
}

.ui-jqgrid .ui-i-asc {
    margin-top: 0;
    height: 16px;
}

.ui-jqgrid .ui-i-desc {
    margin-top: 0;
    margin-left: 13px;
    height: 16px;
}

.ui-jqgrid .ui-jqgrid-sortable {
    cursor: pointer;
}

.ui-jqgrid tr.ui-search-toolbar th {
    border-top-width: 1px !important;
    border-top-color: inherit !important;
    border-top-style: ridge !important;
}

tr.ui-search-toolbar input, tr.ui-search-toolbar select {
    margin: 1px 0 0;
}

.ui-jqgrid .ui-jqgrid-bdiv {
    position: relative;
    margin: 0;
    padding: 0;
    overflow: auto;
    text-align: left;
}

.ui-jqgrid .ui-jqgrid-btable {
    table-layout: fixed;
    margin: 0;
    outline-style: none;
}

.ui-jqgrid tr.jqgroup, .ui-jqgrid tr.jqgrow {
    outline-style: none;
}

    .ui-jqgrid tr.jqgrow td {
        font-weight: 400;
        overflow: hidden;
        white-space: pre;
        font-size: 12px;
    }

.ui-jqgrid tr.jqgfirstrow td {
    padding: 0 2px;
    border-right-width: 1px;
    border-right-style: solid;
}

.ui-jqgrid tr.jqgroup td {
    font-weight: 400;
    overflow: hidden;
    white-space: pre;
}

.ui-jqgrid tr.jqfoot td {
    font-weight: 700;
    overflow: hidden;
    white-space: pre;
}

.ui-jqgrid tr.ui-row-ltr td {
    text-align: left;
    padding: 6px 4px;
    font-size: 12px !important;
}

.ui-jqgrid tr.ui-row-rtl td {
    text-align: right;
    padding: 6px 4px;
    font-size: 13px !important;
}

.ui-jqgrid td.jqgrid-rownum {
    padding: 0 2px;
    margin: 0;
    border: 0 none;
}

.ui-jqgrid .ui-jqgrid-resize-mark {
    width: 2px;
    left: 0;
    background-color: #777;
    cursor: e-resize;
    cursor: col-resize;
    position: absolute;
    top: 0;
    height: 100px;
    overflow: hidden;
    display: none;
    border: 0 none;
    z-index: 99999;
}

.ui-jqgrid .ui-jqgrid-sdiv {
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-left: 0 none !important;
    border-top: 0 none !important;
    border-right: 0 none !important;
}

.ui-jqgrid .ui-jqgrid-ftable {
    table-layout: fixed;
    margin-bottom: 0;
}

.ui-jqgrid tr.footrow td {
    font-weight: 700;
    overflow: hidden;
    white-space: nowrap;
    height: 21px;
    padding: 0 2px;
}

.ui-jqgrid tr.footrow-ltr td {
    text-align: left;
    border-right-width: 1px;
    border-right-color: inherit;
    border-right-style: solid;
}

.ui-jqgrid tr.footrow-rtl td {
    text-align: right;
    border-left-width: 1px;
    border-left-color: inherit;
    border-left-style: solid;
}

.ui-jqgrid .ui-jqgrid-pager {
    border-left: 0 none !important;
    border-right: 0 none !important;
    border-bottom: 0 none !important;
    margin: 0 !important;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    border-top: 1px solid #D3D3D3;
    font-size: 12px;
}

.ui-jqgrid .ui-pager-control {
    position: relative;
}

.ui-jqgrid .ui-pg-table {
    position: relative;
    padding-bottom: 2px;
    width: auto;
    margin: 0;
    font-size: 12px;
}

    .ui-jqgrid .ui-pg-table td {
        font-weight: 400;
        vertical-align: middle;
        padding: 1px;
    }

.ui-jqgrid .ui-pg-button span {
    display: block;
    margin: 1px;
    float: left;
}

.ui-jqgrid .ui-state-disabled:hover {
    padding: 1px;
}

.ui-jqgrid .ui-pg-input {
    margin: 0;
}

.ui-jqgrid .ui-pg-selbox {
    line-height: 18px;
    display: block;
    margin: 0;
}

.ui-jqgrid .ui-separator {
    height: 18px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    margin: 1px;
    float: right;
}

.ui-jqgrid .ui-paging-info {
    font-weight: 400;
    height: 19px;
    margin-top: 3px;
    margin-right: 4px;
}

.ui-jqgrid .ui-jqgrid-pager .ui-pg-div {
    padding: 1px 0;
    float: left;
    position: relative;
}

.ui-jqgrid .ui-jqgrid-pager .ui-pg-button {
    cursor: pointer;
}

.ui-jqgrid .ui-jqgrid-pager .ui-pg-div span.ui-icon {
    float: left;
    margin: 0 2px;
}

.ui-jqgrid td input, .ui-jqgrid td select .ui-jqgrid td textarea {
    margin: 0;
}

.ui-jqgrid td textarea {
    width: auto;
    height: auto;
}

.ui-jqgrid .ui-jqgrid-toppager {
    border-left: 0 none !important;
    border-right: 0 none !important;
    border-top: 0 none !important;
    margin: 0 !important;
    padding: 0 !important;
    position: relative;
    height: 25px !important;
    white-space: nowrap;
    overflow: hidden;
}

    .ui-jqgrid .ui-jqgrid-toppager .ui-pg-div {
        padding: 1px 0;
        float: left;
        position: relative;
    }

    .ui-jqgrid .ui-jqgrid-toppager .ui-pg-button {
        cursor: pointer;
    }

    .ui-jqgrid .ui-jqgrid-toppager .ui-pg-div span.ui-icon {
        float: left;
        margin: 0 2px;
    }

.ui-jqgrid .ui-jqgrid-btable .ui-sgcollapsed span {
    display: block;
}

.ui-jqgrid .ui-subgrid {
    margin: 0;
    padding: 0;
    width: 100%;
}

    .ui-jqgrid .ui-subgrid table {
        table-layout: fixed;
    }

    .ui-jqgrid .ui-subgrid tr.ui-subtblcell td {
        height: 18px;
        border-right-width: 1px;
        border-right-color: inherit;
        border-right-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: inherit;
        border-bottom-style: solid;
    }

    .ui-jqgrid .ui-subgrid td.subgrid-data {
        border-top: 0 none !important;
    }

    .ui-jqgrid .ui-subgrid td.subgrid-cell {
        border-width: 0 0 1px;
    }

.ui-jqgrid .ui-th-subgrid {
    height: 20px;
}

.ui-jqgrid .loading {
    position: absolute;
    top: 45%;
    left: 45%;
    width: auto;
    z-index: 101;
    padding: 6px;
    margin: 5px;
    text-align: center;
    font-weight: 700;
    display: none;
    border-width: 2px !important;
    font-size: 11px;
}

.ui-jqgrid .jqgrid-overlay {
    display: none;
    z-index: 100;
}

* .jqgrid-overlay iframe {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.ui-jqgrid .ui-userdata {
    border-left: 0 none;
    border-right: 0 none;
    height: 21px;
    overflow: hidden;
}

.ui-jqdialog {
    display: none;
    width: 300px;
    position: absolute;
    padding: .2em;
    font-size: 11px;
    overflow: visible;
}

    .ui-jqdialog .ui-jqdialog-titlebar {
        padding: .3em .2em;
        position: relative;
    }

    .ui-jqdialog .ui-jqdialog-title {
        margin: .1em 0 .2em;
        float: none !important;
    }

    .ui-jqdialog .ui-jqdialog-titlebar-close {
        position: absolute;
        top: 50%;
        width: 19px;
        margin: -10px 0 0;
        padding: 1px;
        height: 18px;
        cursor: pointer;
    }

        .ui-jqdialog .ui-jqdialog-titlebar-close span {
            display: block;
            margin: 1px;
        }

        .ui-jqdialog .ui-jqdialog-titlebar-close:focus, .ui-jqdialog .ui-jqdialog-titlebar-close:hover {
            padding: 0;
        }

    .ui-jqdialog .ui-jqdialog-content, .ui-jqdialog-content {
        border: 0;
        background: 0 0;
        height: auto;
    }

    .ui-jqdialog .ui-jqconfirm {
        padding: .4em 1em;
        border-width: 3px;
        position: absolute;
        bottom: 10px;
        right: 10px;
        overflow: visible;
        display: none;
        height: 80px;
        width: 220px;
        text-align: center;
    }

    .ui-jqdialog > .ui-resizable-se, .ui-jqgrid > .ui-resizable-se {
        bottom: -3px;
        right: -3px;
    }

.ui-jqdialog-content .FormGrid {
    margin: 0;
}

.ui-jqdialog-content .DelTable, .ui-jqdialog-content .EditTable {
    width: 100%;
    margin-bottom: 0;
}

.ui-jqdialog .ui-jqdialog-titlebar-close {
    position: absolute;
    top: 50%;
    width: 19px;
    margin: -10px 0px 0px;
    padding: 1px;
    height: 18px;
    cursor: pointer;
}

.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {
    background-image: url("/content/img/jqueryui/ui-icons_454545_256x240.png");
}

.table-bordered > thead > tr > th, .table-bordered > thead > tr > td {
    border-width: 1px;
}

.ui-jqgrid .ui-jqgrid-htable th.ui-th-column, .ui-th-column {
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    border-top: 0 none;
    border-bottom: 0 none;
}

.ui-jqgrid .ui-jqgrid-resize-ltr {
    float: right;
    margin: -2px -2px -2px 0;
}

.ui-jqgrid .ui-jqgrid-view input {
    margin: 0 !important;
}

.ui-widget-header .ui-icon {
    background-image: url("/content/img/jqueryui/ui-icons_222222_256x240.png");
}

.ui-widget-content {
    border: 1px solid #AAA;
    background: none repeat scroll 0 0 #FFF;
    color: #404040;
}

.ui-widget-header {
    font-weight: bold;
    background-color: #F5F5F5;
    border-color: #DDD;
    color: #333;
}

.ui-widget-overlay {
    background: none repeat scroll 0 0 #AAA;
    opacity: 0.3;
    position: absolute;
    z-index: 949 !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.ui-jqdialog-content td.EditButton {
    text-align: right;
    border-top: 0 none;
    border-left: 0 none;
    border-right: 0 none;
    padding-bottom: 5px;
    padding-top: 5px;
}

.ui-resizable-handle {
    position: absolute;
    font-size: 0.1px;
    z-index: 99999;
    display: block;
}

.ui-resizable-se {
    cursor: se-resize;
    width: 12px;
    height: 12px;
    right: 1px;
    bottom: 1px;
}

.ui-icon {
    width: 16px;
    height: 16px;
    background-image: url("/content/img/jqueryui/ui-icons_222222_256x240.png");
    display: block;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
}

.ui-icon-circle-triangle-n {
    background-position: -96px -192px;
}

.ui-icon-circle-triangle-s {
    background-position: -64px -192px;
}

.ui-icon-search {
    background-position: -160px -112px;
}

.ui-icon-arrowreturnthick-1-w {
    background-position: 0 -64px;
}

.ui-icon-gripsmall-diagonal-se {
    background-position: -64px -224px;
}

.ui-icon-closethick {
    background-position: -96px -128px;
}

.fm-button {
    display: inline-block;
    margin: 0 4px 0 0;
    padding: 0.4em 0.5em;
    text-decoration: none !important;
    cursor: pointer;
    position: relative;
    text-align: center;
}

.fm-button-icon-left {
    padding-left: 1.9em;
}

    .fm-button-icon-left .ui-icon {
        right: auto;
        left: 0.2em;
        margin-left: 0;
        position: absolute;
        top: 50%;
        margin-top: -8px;
    }

.fm-button-icon-right {
    padding-right: 1.9em;
}

    .fm-button-icon-right .ui-icon {
        left: auto;
        right: 0.2em;
        margin-left: 0;
        position: absolute;
        top: 50%;
        margin-top: -8px;
    }

.modal-title img {
    height: 32px !important;
}

::-ms-selection {
    background: #13223c;
    color: white;
    -ms-text-shadow: 0 1px 0 #ffffff;
    -ms-text-shadow: 0 1px 0 rgba(255,255,255,0.25);
}

::-o-selection {
    background: #13223c;
    color: white;
    -o-text-shadow: 0 1px 0 #ffffff;
    -o-text-shadow: 0 1px 0 rgba(255,255,255,0.25);
}

::-webkit-selection {
    background: #13223c;
    color: white;
    -webkit-text-shadow: 0 1px 0 #ffffff;
    -webkit-text-shadow: 0 1px 0 rgba(255,255,255,0.25);
}

::-moz-selection {
    background: #13223c;
    color: white;
    -moz-text-shadow: 0 1px 0 #ffffff;
    -moz-text-shadow: 0 1px 0 rgba(255,255,255,0.25);
}

.form-control::selection {
    background: #13223c;
    color: white;
    text-shadow: 0 1px 0 #ffffff;
    text-shadow: 0 1px 0 rgba(255,255,255,0.25);
}
