/*---------------------*/
/* Header 
/*---------------------*/
.top-block,
.top-block ul.sf-menu li ul,
#footer-callout,
#tt-slider-full-width {
	background: #4E756E;
}

#footer-callout {
	border-bottom: 1px solid #B4D2CD;
}

/* primary color scheme (header / footer background) */
.header-holder,
#footer {
	border-top: 1px solid #B4D2CD;
	background-color: #58837C;
	background-image: linear-gradient(to bottom, #93BEB7, #58837C); /* required first in the list for IE11 */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#93BEB7), to(#58837C));
	background-image: -webkit-linear-gradient(top, #93BEB7, #58837C);
	background-image: -moz-linear-gradient(top, #93BEB7, #58837C);
	background-image: -webkit-linear-gradient(top, #93BEB7, #58837C);
	background-image: -o-linear-gradient(top, #93BEB7, #58837C);
	background-image: ms-linear-gradient(to bottom, #93BEB7, #58837C);
	-pie-background: linear-gradient(to bottom, #93BEB7, #58837C);
}

/* Custom CSS3 Color Stops for different height headers */
.header-holder.tt-logo-center {
	background-image: linear-gradient(to bottom, #93BEB7, #58837C 80%);
	-pie-background: linear-gradient(to bottom, #93BEB7, #58837C 80%);	
}

.header-holder.tt-header-holder-tall {
	background-image: linear-gradient(to bottom, #93BEB7, #58837C 47%);
	-pie-background: linear-gradient(to bottom, #93BEB7, #58837C 47%);	
}

#footer {
	background-image: linear-gradient(to bottom, #93BEB7, #58837C 62%);
	-pie-background: linear-gradient(to bottom, #93BEB7, #58837C 62%);	
}

.top-block,
.top-block a,
#header .toolbar-left li,
#header .toolbar-right li {
	color: rgba(255,255,255, 0.7);
}

#tt-mobile-menu-button span:after,
.tt-icon-box span.fa-stack {
	color: #93BEB7;	
}

/*---------------------*/
/* Main Menu
/*---------------------*/
#menu-main-nav a span.navi-description,
/* reset search/404 navi-description so "blog" isn't active */
.search-header #menu-main-nav li.current_page_parent a span.navi-description,
.error-header #menu-main-nav li.current_page_parent a span.navi-description,
.top-block .top-holder ul.sf-menu li .sub-menu li a:hover {
	color: rgba(255,255,255, 0.55);
}

/* dropdown active link color */
#menu-main-nav .drop ul li.current-menu-item a,
#menu-main-nav .drop ul li.current-menu-ancestor a,
#menu-main-nav .drop ul li.current-menu-parent ul li.current-menu-item a,
#menu-main-nav .drop ul li.current-menu-ancestor ul li.current-menu-ancestor a,
#menu-main-nav .drop ul li.current-menu-ancestor ul li.current-menu-ancestor ul li.current-menu-item a {
	color: #9EB3AF;
}

/* dropdown menu bg color */
#menu-main-nav .drop .c,
#menu-main-nav li.parent:hover,
.tt-logo-center #menu-main-nav li.parent:first-child:hover,
#wrapper.tt-uberstyling-enabled #megaMenu ul.megaMenu > li.menu-item.tt-uber-parent:hover,
#wrapper.tt-uberstyling-enabled #megaMenu ul.megaMenu li.menu-item ul.sub-menu {
	background: #4E756E;
}

/* dropdown link:hover bg color */
#menu-main-nav .drop ul a:hover,
#menu-main-nav .drop ul li.current-menu-item.hover a,
#menu-main-nav .drop ul li.parent.hover a,
#menu-main-nav .drop ul li.parent.hover a:hover,
#menu-main-nav .drop ul li.hover ul li.hover a,
#menu-main-nav .drop ul li.hover ul li.hover a:hover,
#menu-main-nav .drop ul li.current-menu-ancestor.hover a,
#menu-main-nav .drop ul li.current-menu-ancestor.hover ul a:hover,
#menu-main-nav .drop ul li.current-menu-ancestor ul li.current-menu-ancestor ul li.current-menu-item a:hover,
.top-block .top-holder ul.sf-menu li .sub-menu li a:hover,
#wrapper.tt-uberstyling-enabled .header-area #megaMenu ul li.menu-item.ss-nav-menu-mega ul.sub-menu li.menu-item > a:hover {
	background: #7A9892;
	color:#FFF;
}

/* reset dropdown link:hover on non-active items */
#menu-main-nav .drop ul li.parent.hover ul a,
#menu-main-nav .drop ul li.hover ul li.hover ul li a,
#menu-main-nav .drop ul li.current-menu-ancestor.hover ul a {
	background:none;	
}


/*---------------------*/
/* Footer
/*---------------------*/
#footer_bottom {
	background: #36534E url(../images/skins/bg-footer-bottom-french-green.png) top center repeat-x;
}

.footer-content a,
#footer_bottom a,
#footer .blogroll li,
#mc_signup .mc_required,
.mc_required,
#mc-indicates-required,
#footer ul.tt-recent-posts li p {
	color: rgba(255,255,255, 0.5);
}

#footer .blogroll a,
#footer ul.tt-recent-posts h4 {
	color: #FFF;
}

#footer h3 {
	border-bottom: 1px solid rgba(255,255,255, 0.25);
}

#footer,
#footer p,
#footer ul,
#footer_bottom,
#footer_bottom p,
#footer_bottom ul,
#footer #mc_signup_form label {
	color: #EEE;
}



/*---------------------*/
/* IE8
/*---------------------*/
/* IE8 does not support rgba. hex# colors provided below */
.ie8 .top-block,
.ie8 .top-block a,
.ie8 #header .toolbar-left li,
.ie8 #header .toolbar-right li {
	color: #CAD6D4;
}

.ie8 #menu-main-nav a span.navi-description,
/* reset search/404 navi-description so "blog" isn't active */
.ie8 .search-header #menu-main-nav li.current_page_parent a span.navi-description,
.ie8 .error-header #menu-main-nav li.current_page_parent a span.navi-description,
.top-block .top-holder ul.sf-menu li .sub-menu li a:hover {
	color: #B5CDC9;
}

.ie8 .footer-content a,
.ie8 #footer_bottom a,
.ie8 #footer .blogroll li,
.ie8 #mc_signup .mc_required,
.ie8 .mc_required,
.ie8 #mc-indicates-required {
	color: #ACC6BF;
}

.ie8 #footer h3 {
	border-bottom: 1px solid #A7C7C2;
}