
<label class="input">
    @ViewData.ModelMetadata.IsRequired ? "<div class='asterisk'></div>" : "<div class='noasterisk'></div>"
    @Html.TextBox("", ViewData.TemplateInfo.FormattedModelValue, new { @class = "text" })
</label>